.header {
    padding: 2rem;
    text-align: center;

    .logo {
        font-size: 1rem;
        font-family: monospace;
        font-weight: 700;
        color: black;
        text-decoration: none;
        user-select: none;
    }
}
