.preview {
    /*width: 100vw;*/
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: #0000002d 0 2px 3px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    max-height: 60vh;
    overflow: hidden;

    img {
        height: auto;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }

    &.icon {
        height: 50vh;

        img {
            width: 100px;
            height: auto;
            object-position: center;
            position: relative;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }
    }
}

.header {
    font-size: 1rem;
    padding: 2rem;
    font-family: monospace;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
}
