.container {
  width: 400px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background: rgb(241 241 241 / 80%);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  user-select: none;
}

.input {
  border: none;
  background: none;
  height: inherit;
  font-size: 20px;
  width: 100%;
  font-family: monospace;

  &:focus {
    border: none;
    outline: none;
  }
}

.icon {
  width: 25px;
  height: auto;
  stroke: #333;
}
