.search {
    width: 400px;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    box-shadow: 0 4px 30px #6c6c6c38;
    backdrop-filter: blur(5px);
}

.preview {
    width: 100%;
    height: auto;
    position: relative;
    max-height: 85vh;
    overflow: hidden;

    img {
        height: auto;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }

    &.icon {
        height: 50vh;

        img {
            width: 100px;
            height: auto;
            object-position: center;
            position: relative;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }
    }
}
