.search {
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    box-shadow: 0 4px 30px #6c6c6c38;
    backdrop-filter: blur(5px);
}

.preview {
    /*width: 100vw;*/
    width: 100%;
    height: auto;
    border-radius: 8px;
    //box-shadow: #0000002d 0 2px 3px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    max-height: 85vh;
    overflow: hidden;

    img {
        height: auto;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }

    &.icon {
        height: 50vh;

        img {
            width: 100px;
            height: auto;
            object-position: center;
            position: relative;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }
    }
}
